
body{
    margin: 5%;
}
input:nth-of-type(2) {
    width: 500px;
}
p{
    display: flex;
    width: 50%;
    margin: auto;
    text-align: left;
}
input,label{
    flex: 1;
    margin: 10px auto;
}
input[type='submit']{
    width: initial;
}
div{
    margin: 20px auto;
}
.errorlist {
    display: flex;
    width: 50%;
    margin: auto;
    float: right;
}
ul.errorlist>li{
    color: #ff0000
}